<!DOCTYPE html>
<html>
<head>
    <title>Fragebogen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/IFB.jpg"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="style/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="style/uikit.min.css"/>

    <!-- JavaScript -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/fragebogen.js"></script>
</head>
<body class="uk-background-muted">
<div id="fragebogen">

    <div class="overall"><br>
        <div class="uk-container uk-heading-divider">
            <span class="uk-text-large" id="category">{{headline}}</span>

            <div class="percbar">
                <progress id="progress" class="uk-progress" v-bind:value="questionIndex-1" max="20"></progress>
                <div class="percentage" id="percentage">{{(questionIndex-1)*5}}% ({{questionIndex-1}}/20)</div>
            </div>
        </div>

        <div class="uk-container uikit-alert" style="margin-top: 25px;" v-if="error">
            <div uk-alert class="uk-alert-danger">
                {{errorMessage}}
                <a class="uk-alert-close" uk-close v-on:click="closeError"></a>
            </div>
        </div>

        <!-- Frage 1 -->
        <div class="uk-container" v-if="questionIndex == 1">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                1. Fachbereich Ihres Unternehmens <span uk-icon="info"
                                                        uk-tooltip="Hier müssen Sie mindestens ein Feld markieren, es können aber auch mehrere sein."></span>
            </div>
            <hr>
            <div>
                <input class="uk-checkbox" type="checkbox" value="Hoch- und Massivbau"
                       v-model="answers[questionIndex-1].answer">
                <label>Hoch- und Massivbau<br></label>

                <input class="uk-checkbox" type="checkbox" value="Fliesen und Naturstein"
                       v-model="answers[questionIndex-1].answer">
                <label>Fliesen und Naturstein<br></label>

                <input class="uk-checkbox" type="checkbox" value="Betonwerkstein, Fertigteile, Terrazzo und Naturstein"
                       v-model="answers[questionIndex-1].answer">
                <label>Betonwerkstein, Fertigteile, Terrazzo und Naturstein<br></label>

                <input class="uk-checkbox" type="checkbox" value="Ausbau und Fassade"
                       v-model="answers[questionIndex-1].answer">
                <label>Ausbau und Fassade<br></label>

                <input class="uk-checkbox" type="checkbox" value="Estrich und Belag"
                       v-model="answers[questionIndex-1].answer">
                <label>Estrich und Belag<br></label>

                <input class="uk-checkbox" type="checkbox" value="Holzbau" v-model="answers[questionIndex-1].answer">
                <label>Holzbau<br></label>

                <input class="uk-checkbox" type="checkbox" value="Wärme-, Kälte-, Schall- und Brandschutze"
                       v-model="answers[questionIndex-1].answer">
                <label> Wärme-, Kälte-, Schall- und Brandschutze<br></label>

                <input class="uk-checkbox" type="checkbox" value="Ausbau und Trockenbau"
                       v-model="answers[questionIndex-1].answer">
                <label>Ausbau und Trockenbau<br></label>

                <input class="uk-checkbox" type="checkbox" value="Bauwerksabdichtung"
                       v-model="answers[questionIndex-1].answer">
                <label>Bauwerksabdichtung<br></label>

                <input class="uk-checkbox" type="checkbox" value="Fassadenbau"
                       v-model="answers[questionIndex-1].answer">
                <label>Fassadenbau<br></label>
            </div>
        </div>

        <!-- Frage 2 -->
        <div class="uk-container" v-if="questionIndex == 2">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                2. Tätig als <span uk-icon="info" uk-tooltip="Hier können Sie nur eine Auswahl treffen."></span>
            </div>
            <hr>
            <div>
                <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].answer"
                       value="Generalunternehmer">
                <label>Generalunternehmer<br></label>

                <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].answer"
                       value="Generalübernehmer">
                <label>Generalübernehmer<br></label>

                <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].answer"
                       value="Bauunternehmer">
                <label>Bauunternehmer<br></label>

                <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].answer"
                       value="Bauträger">
                <label>Bauträger<br></label>

                <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].answer"
                       value="Handwerksbetrieb">
                <label>Handwerksbetrieb</label>
            </div>
        </div>

        <!-- Frage 3 -->
        <div class="uk-container" id="frage_3" v-if="questionIndex == 3">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                3. Gesamtanzahl Bauvorhaben / Projekte in den letzten 5 Jahren <span uk-icon="info"
                                                                                     uk-tooltip="Hier können Sie nur eine Auswahl treffen."></span>
            </div>
            <hr>
            <div>
                <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].answer"
                       value="< 10">
                <label> < 10<br></label>

                <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].answer"
                       value="< 50">
                <label> < 50<br></label>

                <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].answer"
                       value=" < 100">
                <label> < 100<br></label>

                <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].answer"
                       value="> 100">
                <label>> 100</label>
            </div>
        </div>

        <!-- Frage 4 -->
        <div class="uk-container" v-if="questionIndex == 4">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                4. Bauvorhaben / Projekte <span uk-icon="info"
                                                uk-tooltip="Beide Werte müssen zusammen 100% ergeben."></span>
            </div>
            <hr>

            <div class="uk-container">
                <p>Eigenplanung [%]</p>
                <div class="uk-align-left">
                    <input class="uk-range" type="range" v-model="answers[questionIndex-1].answer[0]" value="0" min="0"
                           max="100" step="1"
                           style="width:250px">
                </div>
                <div class="uk-align-left">
                    <input class="uk-input" type="number" v-model="answers[questionIndex-1].answer[0]"
                           placeholder="Wert in %" style="width:120px">
                </div>

            </div>
            <br>
            <div class="uk-container">
                <p>Fremdplanung [%]</p>
                <div class="uk-align-left">
                    <input class="uk-range" type="range" v-model="answers[questionIndex-1].answer[1]" value="0" min="0"
                           max="100" step="1"
                           style="width:250px">
                </div>
                <div class="uk-align-left">
                    <input class="uk-input" type="number" v-model="answers[questionIndex-1].answer[1]"
                           placeholder="Wert in %" style="width:120px">
                </div>
            </div>
        </div>

        <!-- Frage 5 -->
        <div class="uk-container" v-if="questionIndex == 5">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                5. Festgestellte Planungsschäden, Anzahl insgesamt <span uk-icon="info"
                                                                         uk-tooltip="Hier bleibt es Ihnen überlassen für welche Auswahl Sie sich entscheiden. Sie können auch beide Optionen ausfüllen"></span>
            </div>
            <hr>
            <div class="uk-clearfix">
                <div style="float:left" class="uk-margin-right">
                    <div>
                        <input class="uk-radio" type="radio" name="radio"
                               v-model="answers[questionIndex-1].type"
                               value="2013-2017">
                        <label>2013 - 2017</label>
                    </div>

                    <div class="uk-margin-top" v-if="answers[questionIndex-1].type == '2013-2017'">
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer">
                    </div>
                </div>

                <div style="float:left">
                    <div>
                        <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].type"
                               value="everyYear">
                        <label>jedes Jahr einzeln</label><br><br>
                    </div>
                    <div v-if="answers[questionIndex-1].type == 'everyYear'">
                        <span>2013 : </span>
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer[0]"><br>
                        <span>2014 : </span>
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer[1]"><br>
                        <span>2015 : </span>
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer[2]"><br>
                        <span>2016 : </span>
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer[3]"><br>
                        <span>2017 : </span>
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer[4]"><br>
                    </div>
                </div>
            </div>
        </div>


        <!-- Frage 6 -->
        <div class="uk-container" v-if="questionIndex == 6">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                6. Festgestellte Schäden im Einzelnen <span uk-icon="info"
                                                            uk-tooltip="Alle Werte müssen zusammen 100% ergeben."></span>
            </div>
            <hr>
            <br>

            <div class="uk-clearfix">
                <div class="uk-column-1-2@l uk-column-divider">
                    <div style="height: 140px;">
                        <div class="uk-container uk-padding-remove-horizontal"
                             v-if="!answers[questionIndex-1].no_answer[0]">
                            <p>Entwurfsplanung [%]:</p>
                            <div class="uk-column-1-2">
                                <div>
                                    <input class="uk-range" type="range" value="0"
                                           v-model="answers[questionIndex-1].answer[0]"
                                           min="0" max="100" step="1">
                                </div>
                                <div>
                                    <input class="uk-input" type="number" placeholder="Wert in %"
                                           v-model="answers[questionIndex-1].answer[0]" min="0" max="100">
                                </div>
                            </div>
                        </div>
                        <div class="uk-container cb-mt">
                            <input class="uk-checkbox" type="checkbox" name="checkbox" value="Ohne Entwurfsplanung"
                                   v-model="answers[questionIndex-1].no_answer[0]">
                            <label>Ohne Entwurfsplanung</label>
                        </div>
                    </div>

                    <div style="height: 140px;">
                        <div class="uk-container uk-padding-remove-horizontal"
                             v-if="!answers[questionIndex-1].no_answer[1]">
                            <p>Genehmigungsplanung [%]:</p>
                            <div class="uk-column-1-2">
                                <div>
                                    <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                           v-model="answers[questionIndex-1].answer[1]">
                                </div>
                                <div>
                                    <input class="uk-input" type="number" placeholder="Wert in %" min="0" max="100"
                                           v-model="answers[questionIndex-1].answer[1]">
                                </div>
                            </div>
                        </div>
                        <div class="uk-container cb-mt">
                            <input class="uk-checkbox" type="checkbox" name="checkbox" value="Ohne Genehmigungsplanung"
                                   v-model="answers[questionIndex-1].no_answer[1]">
                            <label>Ohne Genehmigungsplanung</label>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <br>
            <div class="uk-clearfix">
                <div class="uk-column-1-2@l uk-column-divider">
                    <div style="height: 140px;">
                        <div class="uk-container uk-padding-remove-horizontal"
                             v-if="!answers[questionIndex-1].no_answer[2]">
                            <p>Ausführungsplanung [%]:</p>
                            <div class="uk-column-1-2">
                                <div>
                                    <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                           v-model="answers[questionIndex-1].answer[2]">
                                </div>
                                <div>
                                    <input class="uk-input" type="number" placeholder="Wert in %" min="0"
                                           max="100" v-model="answers[questionIndex-1].answer[2]">
                                </div>
                            </div>
                        </div>
                        <div class="uk-container cb-mt">
                            <input class="uk-checkbox" type="checkbox" name="checkbox" value="Ohne Ausführungsplanung"
                                   v-model="answers[questionIndex-1].no_answer[2]">
                            <label>Ohne Ausführungsplanung</label>
                        </div>
                    </div>
                    <div style="height: 140px;">
                        <div class="uk-container uk-padding-remove-horizontal"
                             v-if="!answers[questionIndex-1].no_answer[3]">
                            <p>Detailplanung [%]:</p>
                            <div class="uk-column-1-2">
                                <div>
                                    <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                           v-model="answers[questionIndex-1].answer[3]">
                                </div>
                                <div>
                                    <input class="uk-input" type="number" placeholder="Wert in %" min="0"
                                           v-model="answers[questionIndex-1].answer[3]"
                                           max="100">
                                </div>
                            </div>
                        </div>
                        <div class="uk-container cb-mt">
                            <input class="uk-checkbox" type="checkbox" name="checkbox" value="Ohne Detailplanung"
                                   v-model="answers[questionIndex-1].no_answer[3]">
                            <label>Ohne Detailplanung</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Frage 7 -->
        <div class="uk-container" v-if="questionIndex == 7">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                7. Vergabe
            </div>
            <hr>
            <br>
            <div class="uk-container">
                <p>Probleme bei der Vergabe [%]</p>
                <div class="uk-align-left">
                    <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                           style="width:250px" v-model="answers[questionIndex-1].answer">
                </div>
                <div class="uk-align-left">
                    <input class="uk-input" type="number" placeholder="Wert in %" style="width:120px"
                           v-model="answers[questionIndex-1].answer">
                </div>
            </div>
        </div>

        <!-- Frage 8 -->
        <div class="uk-container" v-if="questionIndex == 8">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                8. Benennung der Probleme
            </div>
            <hr>
            <div>
                <input class="uk-checkbox" type="checkbox"
                       value="Europaweite Vergabe öffentlicher Aufträge" v-model="answers[questionIndex-1].answer">
                <label>Europaweite Vergabe öffentlicher Aufträge <br></label>

                <input class="uk-checkbox" type="checkbox" value="Kommunale Auftragsvergabe"
                       v-model="answers[questionIndex-1].answer">
                <label>Kommunale Auftragsvergabe<br></label>

                <input class="uk-checkbox" type="checkbox" value="Rahmenverträge"
                       v-model="answers[questionIndex-1].answer">
                <label>Rahmenverträge<br></label>

                <input class="uk-checkbox" type="checkbox" value="Mangelhafte Leistungsbeschreibungen"
                       v-model="answers[questionIndex-1].answer">
                <label>Mangelhafte Leistungsbeschreibungen<br></label>

                <input class="uk-checkbox" type="checkbox" value="Sonstiges" v-model="answers[questionIndex-1].answer">
                <label>Sonstiges<br></label>

                <div>
                    <textarea class="uk-textarea" rows="4" v-model="answers[questionIndex-1].other"></textarea>
                </div>

            </div>

        </div>

        <!-- Frage 9 -->
        <div class="uk-container" v-if="questionIndex == 9">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                9. Festgestellte Ausführungsschäden, Anzahl insgesamt <span uk-icon="info"
                                                                            uk-tooltip="Hier bleibt es Ihnen überlassen für welche Auswahl Sie sich entscheiden. Sie können auch beide Optionen ausfüllen"></span>
            </div>
            <hr>
            <div class="uk-clearfix">
                <div style="float:left" class="uk-margin-right">
                    <div>
                        <input class="uk-radio" type="radio" name="radio"
                               v-model="answers[questionIndex-1].type"
                               value="2013-2017">
                        <label>2013 - 2017</label>
                    </div>

                    <div class="uk-margin-top" v-if="answers[questionIndex-1].type == '2013-2017'">
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer">
                    </div>
                </div>

                <div style="float:left">
                    <div>
                        <input class="uk-radio" type="radio" name="radio" v-model="answers[questionIndex-1].type"
                               value="everyYear">
                        <label>jedes Jahr einzeln</label><br><br>
                    </div>
                    <div v-if="answers[questionIndex-1].type == 'everyYear'">
                        <span>2013 : </span>
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer[0]"><br>
                        <span>2014 : </span>
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer[1]"><br>
                        <span>2015 : </span>
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer[2]"><br>
                        <span>2016 : </span>
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer[3]"><br>
                        <span>2017 : </span>
                        <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                               v-model="answers[questionIndex-1].answer[4]"><br>
                    </div>
                </div>
            </div>
        </div>

        <!-- Frage 10 -->
        <div class="uk-container" v-if="questionIndex == 10">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                10. Besonders schadenanfällige Bauteile / Schadenstellen <span uk-icon="info"
                                                                               uk-tooltip="Alle Werte müssen zusammen 100% ergeben."></span>
            </div>
            <hr>

            <div class="uk-column-1-2@l uk-column-divider">
                <div class="uk-container">
                    <p>Baustelle <span uk-icon="info" uk-tooltip="Baustelleneinrichtung, Sicherheit"></span></p>
                    <div class="uk-column-1-2">
                        <div>
                            <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                   v-model="answers[questionIndex-1].answer[0]">
                        </div>
                        <div>
                            <input class="uk-input" type="number" placeholder="Wert in %"
                                   v-model="answers[questionIndex-1].answer[0]">
                        </div>
                    </div>
                </div>
                <div class="uk-container">
                    <p>Erdberührte Bauteile <span uk-icon="info"
                                                  uk-tooltip="Bodenplatte, Keller, Tiefgarage, Fundament, Gebäudeabdichtung, Sockel"></span>
                    </p>
                    <div class="uk-column-1-2">
                        <div>
                            <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                   v-model="answers[questionIndex-1].answer[1]">
                        </div>
                        <div>
                            <input class="uk-input" type="number" placeholder="Wert in %"
                                   v-model="answers[questionIndex-1].answer[1]">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <br>

            <div class="uk-column-1-2@l uk-column-divider">
                <div class="uk-container">
                    <p>Gebäudehülle <span uk-icon="info"
                                          uk-tooltip="Dach, Außenwände, Fenster, Türen, Wintergärten, Balkone"></span>
                    </p>
                    <div class="uk-column-1-2">
                        <div>
                            <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                   v-model="answers[questionIndex-1].answer[2]">
                        </div>
                        <div>
                            <input class="uk-input" type="number" placeholder="Wert in %"
                                   v-model="answers[questionIndex-1].answer[2]">
                        </div>
                    </div>
                </div>
                <div class="uk-container">
                    <p>Gebäudeinnenbereich <span uk-icon="info"
                                                 uk-tooltip="Decken, Fußböden, Estrich, Treppen, Innenwände, Innenputz,
                        Innenausbau"></span>
                    </p>
                    <div class="uk-column-1-2">
                        <div>
                            <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                   v-model="answers[questionIndex-1].answer[3]">
                        </div>
                        <div>
                            <input class="uk-input" type="number" placeholder="Wert in %"
                                   v-model="answers[questionIndex-1].answer[3]">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <br>

            <div class="uk-column-1-2@l uk-column-divider">
                <div class="uk-container">
                    <p>Dämmung <span uk-icon="info" uk-tooltip="Perimeterdämmung, Wärmedämmung, Schalldämmung"></span>
                    </p>
                    <div class="uk-column-1-2">
                        <div>
                            <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                   v-model="answers[questionIndex-1].answer[4]">
                        </div>
                        <div>
                            <input class="uk-input" type="number" placeholder="Wert in %"
                                   v-model="answers[questionIndex-1].answer[4]">
                        </div>
                    </div>
                </div>
                <div class="uk-container">
                    <p>Brandschutz</p>
                    <div class="uk-column-1-2">
                        <div>
                            <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                   v-model="answers[questionIndex-1].answer[5]">
                        </div>
                        <div>
                            <input class="uk-input" type="number" placeholder="Wert in %"
                                   v-model="answers[questionIndex-1].answer[5]">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <br>

            <div class="uk-column-1-2@l uk-column-divider">
                <div class="uk-container">
                    <p>Luftdichte Ebene</p>
                    <div class="uk-column-1-2">
                        <div>
                            <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                   v-model="answers[questionIndex-1].answer[6]">
                        </div>
                        <div>
                            <input class="uk-input" type="number" placeholder="Wert in %"
                                   v-model="answers[questionIndex-1].answer[6]">
                        </div>
                    </div>
                </div>
                <div class="uk-container">
                    <p>Außenanlagen, Terrassen</p>
                    <div class="uk-column-1-2">
                        <div>
                            <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                                   v-model="answers[questionIndex-1].answer[7]">
                        </div>
                        <div>
                            <input class="uk-input" type="number" placeholder="Wert in %"
                                   v-model="answers[questionIndex-1].answer[7]">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <br>

            <div class="uk-column-1-2@l">
                <div class="uk-container">
                    <p>Haustechnik <span uk-icon="info" uk-tooltip="Heizung, Lüftung, Trinkwasserinstallation, Abwasserinstallation, Solarthermie,
                  Photovoltaik"></span>
                    </p>
                    <div class="uk-column-1-2">
                        <div>
                            <input class="uk-range" type="range" value="0" min="0" max="100" step="1">
                        </div>
                        <div>
                            <input class="uk-input" type="number" placeholder="Wert in %">
                        </div>
                    </div>
                </div>

                <div class="uk-container" style="height: 50px">
                </div>
            </div>

        </div>

        <!-- Frage 11 -->
        <div class="uk-container" v-if="questionIndex == 11">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                11. Schadenursache
            </div>
            <hr>
            <div>
                <input class="uk-checkbox" type="checkbox" value="Planung" v-model="answers[questionIndex-1].answer">
                <label> Planung<br></label>

                <input class="uk-checkbox" type="checkbox" value="Ausführung / Montage"
                       v-model="answers[questionIndex-1].answer">
                <label>Ausführung / Montage<br></label>

                <input class="uk-checkbox" type="checkbox" value="Produkt / Material"
                       v-model="answers[questionIndex-1].answer">
                <label> Produkt / Material<br></label>

                <input class="uk-checkbox" type="checkbox" value="Sonstiges" v-model="answers[questionIndex-1].answer">
                <label>Sonstiges <br></label>
            </div>

        </div>

        <!-- Frage 12 -->
        <div class="uk-container" v-if="questionIndex == 12">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                12. Probleme bei der Abnahme
            </div>
            <hr>
            <br>
            <div class="uk-container">
                <p>bei [%] aller Bauvorhaben / Projekte</p>
                <div class="uk-align-left">
                    <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                           style="width:250px" v-model="answers[questionIndex-1].answer">
                </div>
                <div class="uk-align-left">
                    <input class="uk-input" type="number" placeholder="Wert in %" style="width:120px"
                           v-model="answers[questionIndex-1].answer">
                </div>
            </div>


        </div>

        <!-- Frage 13 -->
        <div class="uk-container" v-if="questionIndex == 13">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                13. Benennung der Probleme
            </div>
            <hr>
            <div>
                <input class="uk-checkbox" type="checkbox" value="Verweigerung der Abnahme"
                       v-model="answers[questionIndex-1].answer">
                <label>Verweigerung der Abnahme <br></label>

                <input class="uk-checkbox" type="checkbox" value="Vertragsinhalte"
                       v-model="answers[questionIndex-1].answer">
                <label>Vertragsinhalte<br></label>

                <input class="uk-checkbox" type="checkbox" value="Qualitäten / Toleranzen"
                       v-model="answers[questionIndex-1].answer">
                <label> Qualitäten / Toleranzen <br></label>

                <input class="uk-checkbox" type="checkbox" value="Schnittstellen / Gewerke"
                       v-model="answers[questionIndex-1].answer">
                <label>Schnittstellen / Gewerke <br></label>

                <input class="uk-checkbox" type="checkbox" value="Sonstiges" v-model="answers[questionIndex-1].answer">
                <label>Sonstiges: <br></label>
                <textarea class="uk-textarea" rows="4" v-model="answers[questionIndex-1].other"></textarea>
            </div>

        </div>

        <!-- Frage 14 -->
        <div class="uk-container" v-if="questionIndex == 14">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                14. Festgestellte Schäden <span uk-icon="info"
                                                uk-tooltip="Alle Werte müssen zusammen 100% ergeben."></span>
            </div>
            <hr>
            <br>
            <div class="uk-container">
                <p>nach 0 - 2 Jahren bei [%] aller Bauvorhaben / Projekte</p>
                <div class="uk-align-left">
                    <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                           style="width:250px" v-model="answers[questionIndex-1].answer[0]">
                </div>
                <div class="uk-align-left">
                    <input class="uk-input" type="number" placeholder="Wert in %" style="width:120px"
                           v-model="answers[questionIndex-1].answer[0]">
                </div>
            </div>
            <div class="uk-container">
                <p>nach 3 - 5 Jahren bei [%] aller Bauvorhaben / Projekte</p>
                <div class="uk-align-left">
                    <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                           v-model="answers[questionIndex-1].answer[1]"
                           style="width:250px">
                </div>
                <div class="uk-align-left">
                    <input class="uk-input" type="number" placeholder="Wert in %"
                           v-model="answers[questionIndex-1].answer[1]"
                           style="width:120px">
                </div>
            </div>
            <div class="uk-container">
                <p>nach über 5 Jahren bei [%] aller Bauvorhaben / Projekte</p>
                <div class="uk-align-left">
                    <input class="uk-range" type="range" value="0" min="0" max="100" step="1"
                           v-model="answers[questionIndex-1].answer[2]"
                           style="width:250px">
                </div>
                <div class="uk-align-left">
                    <input class="uk-input" type="number" placeholder="Wert in %"
                           v-model="answers[questionIndex-1].answer[2]"
                           style="width:120px">
                </div>
            </div>
        </div>

        <!-- Frage 15 -->
        <div class="uk-container" v-if="questionIndex == 15">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                15. Schäden an eigener Leistung [Euro] <span uk-icon="info"
                                                             uk-tooltip="Die durchschnittlichen Kosten müssen Sie auf jeden Fall ausfüllen. Jedes Jahr einzeln ist optional."></span>
            </div>
            <hr>

            <div>
                <span>durchschnittliche Schadenbeseitigungskosten pro Jahr (2013 - 2017): </span>
            </div>
            <div class="uk-margin-top">
                <input class="uk-input" type="number" placeholder="Euro"
                       style="width:120px;" v-model="answers[questionIndex-1].answer[0]">
            </div>

            <div class="uk-margin-top" v-if="answers[questionIndex-1].answer[0]">
                <div class="uk-margin-bottom">
                    <span>jedes Jahr einzeln</span>
                </div>
                <span>2013 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[1]"><br>
                <span>2014 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[2]"><br>
                <span>2015 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[3]"><br>
                <span>2016 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[4]"><br>
                <span>2017 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[5]"><br>
            </div>


        </div>

        <!-- Frage 16 -->
        <div class="uk-container" v-if="questionIndex == 16">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                16. Regulierte Mangel- / Schadenbeseitigungskosten durch Versicherungen [Euro] <span uk-icon="info"
                                                                                                     uk-tooltip="Die durchschnittlichen Kosten müssen Sie auf jeden Fall ausfüllen. Jedes Jahr einzeln ist optional."></span>
            </div>
            <hr>

            <div>
                <span>durchschnittliche Mangel- / Schadenbeseitigungskosten pro Jahr (2013 - 2017): </span>
            </div>
            <div class="uk-margin-top">
                <input class="uk-input" type="number" placeholder="Euro" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[0]">
            </div>

            <div class="uk-margin-top" v-if="answers[questionIndex-1].answer[0]">
                <div class="uk-margin-bottom">
                    <span>jedes Jahr einzeln</span>
                </div>
                <span>2013 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[1]"><br>
                <span>2014 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[2]"><br>
                <span>2015 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[3]"><br>
                <span>2016 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[4]"><br>
                <span>2017 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[5]"><br>
            </div>
        </div>

        <!-- Frage 17 -->
        <div class="uk-container" v-if="questionIndex == 17">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                17. Bei einem Selbstbehalt von [Euro]
            </div>
            <hr>

            <div>
                <span>2013 - 2017: </span>
            </div>
            <div class="uk-margin-top">
                <input class="uk-input" type="number" placeholder="Euro" style="width:120px;"
                       v-model="answers[questionIndex-1].answer">
            </div>

        </div>

        <!-- Frage 18 -->
        <div class="uk-container" v-if="questionIndex == 18">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                18. Festgestellte Bauschadenkosten [Euro] <span uk-icon="info"
                                                                uk-tooltip="Die durchschnittlichen Kosten müssen Sie auf jeden Fall ausfüllen. Jedes Jahr einzeln ist optional."></span>
            </div>
            <hr>

            <div>
                <span>durchschnittliche Bauschadenkosten pro Jahr (2013 - 2017): </span>
            </div>
            <div class="uk-margin-top">
                <input class="uk-input" type="number" placeholder="Euro" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[0]">
            </div>


            <div class="uk-margin-top" v-if="answers[questionIndex-1].answer[0]">
                <div class="uk-margin-bottom">
                    <span>jedes Jahr einzeln</span>
                </div>
                <span>2013 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[1]"><br>
                <span>2014 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[2]"><br>
                <span>2015 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[3]"><br>
                <span>2016 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[4]"><br>
                <span>2017 : </span>
                <input class="uk-input" type="number" placeholder="Anzahl" style="width:120px;"
                       v-model="answers[questionIndex-1].answer[5]"><br>
            </div>
        </div>

        <!-- Frage 19 -->
        <div class="uk-container" v-if="questionIndex == 19">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                19. Wie hat sich die Anzahl der Bauschäden in Ihrem Fachbereich in den letzten 5 Jahren verändert?
                <span
                        uk-icon="info" uk-tooltip="Hier können Sie nur eine Auswahl treffen."></span>
            </div>
            <hr>
            <div>
                <input class="uk-radio" type="radio" name="radio" value="Deutlich verschlechtert"
                       v-model="answers[questionIndex-1].answer">
                <label>Deutlich verschlechtert<br></label>
                <input class="uk-radio" type="radio" name="radio" value="Verschlechtert"
                       v-model="answers[questionIndex-1].answer">
                <label>Verschlechtert<br></label>
                <input class="uk-radio" type="radio" name="radio" value="Gleich geblieben"
                       v-model="answers[questionIndex-1].answer">
                <label>Gleich geblieben<br></label>
                <input class="uk-radio" type="radio" name="radio" value="Verbessert"
                       v-model="answers[questionIndex-1].answer">
                <label>Verbessert<br></label>
                <input class="uk-radio" type="radio" name="radio" value="Deutlich verbessert"
                       v-model="answers[questionIndex-1].answer">
                <label>Deutlich verbessert</label>

            </div>
        </div>


        <!-- Frage 20 -->
        <div class="uk-container" v-if="questionIndex == 20">
            <div class="uk-padding uk-padding-remove-left uk-padding-remove-bottom">
                20. Wie hat sich die Bauqualität in Deutschland in den letzten 5 Jahren verändert? <span
                    uk-icon="info"
                    uk-tooltip="Hier können Sie nur eine Auswahl treffen."></span>
            </div>
            <hr>
            <div>
                <input class="uk-radio" type="radio" name="radio" value="Deutlich verschlechtert"
                       v-model="answers[questionIndex-1].answer">
                <label>Deutlich verschlechtert<br></label>
                <input class="uk-radio" type="radio" name="radio" value="Verschlechtert"
                       v-model="answers[questionIndex-1].answer">
                <label>Verschlechtert<br></label>
                <input class="uk-radio" type="radio" name="radio" value="Gleich geblieben"
                       v-model="answers[questionIndex-1].answer">
                <label>Gleich geblieben<br></label>
                <input class="uk-radio" type="radio" name="radio" value="Verbessert"
                       v-model="answers[questionIndex-1].answer">
                <label>Verbessert<br></label>
                <input class="uk-radio" type="radio" name="radio" value="Deutlich verbessert"
                       v-model="answers[questionIndex-1].answer">
                <label>Deutlich verbessert</label>

            </div>
        </div>

        <!-- Ende -->
        <div class="uk-container uk-margin-top" v-if="questionIndex == 21">
            <h2 class="uk-text-center uk-margin-top">Vielen Dank für Ihre Antworten!</h2><br>
        </div>

        <hr>

        <div class="uk-container uk-margin-top" id="buttons">
            <span class="weiter" v-on:click="next" v-if="questionIndex < 20">
                <a class="uk-button uk-button-default">Weiter</a>
            </span>
            <span class="weiter" v-on:click="next" v-if="questionIndex == 20">
                <a class="uk-button uk-button-default">Beenden</a>
            </span>
            <span class="zuruck" v-on:click="back" v-if="questionIndex != 1">
                <a class="uk-button uk-button-default">Zurück</a>
            </span>
        </div>

        <br>
    </div>
</div>
</body>

</html>

